@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 210 8% 5%;

    --card: 0 0% 98%;
    --card-foreground: 210 8% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 210 8% 5%;

    --primary: 199 89% 48%;
    /* --primary-foreground: 0 0% 2%; */
    --primary-foreground: 0 0% 100%;

    --secondary: 210 7% 94%;
    --secondary-foreground: 210 8% 5%;

    --muted: 210 7% 94%;
    --muted-foreground: 201 6% 45%;

    --accent: 210 7% 94%;
    --accent-foreground: 210 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 6% 90%;
    --input: 192 6% 83%;
    --ring: 199 24% 75%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 180 3% 6%;
    --foreground: 0 0% 98%;

    --card: 180 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 180 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 199 89% 48%;
    /* --primary-foreground: 0 0% 2%; */
    --primary-foreground: 0 0% 100%;

    --secondary: 210 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 200 5% 22%;
    --muted-foreground: 200 5% 49%;

    --accent: 198 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 5% 12%;
    --input: 195 4% 18%;
    --ring: 199 88% 40%;
  }

  ::-webkit-scrollbar {
    @apply w-[6px];
  }

  ::-webkit-scrollbar-track {
    @apply shadow shadow-slate-300 bg-slate-400 rounded-xl;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-sky-400 rounded-2xl;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-sky-500;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
